.platformsContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.platform {
    width: 20%;

}

.platform .fa, .platform h2{
    display: flex;
    justify-content: center;
}