.Contacts{
    display: flex;
    justify-content: space-between;
}

.contactPanel {
    width: 30%;
    height: 150px;
}

.socBtn {
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 19px 22px;
    margin-right: 5px;
    margin-top: -15px;
    background: #353535;
}